/* Стили для Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px; 
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  
}

.sidebar.open {
  left: 0; /* Показать Sidebar */
}

.sidebar ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.open-sidebar-btn{
  margin: 15px;
    border: none;

}
